In [90]:
# 0.导入数据集chipotle.tsv
import numpy as np
import pandas as pd
url=(r'../exercise_data/chipotle.tsv')
# 1.将数据集存入一个名为chipo的数据框内
chipo = pd.read_csv(url, sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
# 2.查看前10行内容
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [6]:
# 3.数据集有多少列
len(chipo.columns)

5

In [9]:
# 4.打印出全部列名字
for i in chipo.columns:
    print(i)

order_id
quantity
item_name
choice_description
item_price

In [11]:
# 5.数据集的索引是怎样的
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [13]:
# 6.被下单数最多商品(item)是什么?
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [101]:
# 7.在item_name这一列中，一共有多少种商品被下单？
len(chipo.groupby('item_name').sum())

50

In [21]:
# Diet Coke 159
# 8.在choice_description中，下单次数最多的商品是什么？
chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False).head(1)
# Diet Coke 159

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [22]:
# 9.一共有多少商品被下单
chipo.quantity.sum()

4972

In [24]:
# 10.将item_price转换为浮点数
dollarizer = lambda x: float(x[1:-1])
chipo.item_price.apply(dollarizer)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [95]:
# 11.在该数据集对应的时期内，收入(revenue)是多少
def removeSynbol(s):
    if str(s)[:1]=='$':
        return float(str(s)[1:])
    return s
chipo['item_price']=chipo.item_price.apply(removeSynbol)
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo['revenue'].sum()

39237.02

In [27]:
# 12.在该数据集对应的时期内，一共有多少订单？
orders = chipo.order_id.value_counts().count()
orders

1834

In [93]:
# 13.每一单(order)对应的平均总价是多少？
def removeSynbol(s):
    if str(s)[:1]=='$':
        return float(str(s)[1:])
    return s
chipo['item_price']=chipo.item_price.apply(removeSynbol)
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
temp=chipo.groupby(by='order_id').sum()
temp['average']= temp['revenue'] / temp['quantity']
temp[['average']]

            average
order_id
1          2.890000
2         16.980000
3          6.335000
4         10.500000
5          6.850000
...             ...
1830      11.500000
1831       4.300000
1832       6.600000
1833      11.750000
1834       9.583333

[1834 rows x 1 columns]

In [94]:
# 14.一共有多少种不同的商品被售出？
chipo.item_name.value_counts().count()

50